<div class ="container">
	<div class="row">
		<div class="text-left col-xs-8">
	    <a  ng-click="toProjectView()" class="btn nav-btn" data-toggle="dropdown" href="#">Projects </a>
			<a ng-click="toResumeView()" ng-sref="resume" class="btn nav-btn">Resume</a>
			<a ng-href="https://quickanddirtyjs.wordpress.com/" target="_blank" class="btn nav-btn">Blog</a>
  	</div>

  	<div class=" text-right col-xs-4">
			<a ng-click="toContactView()" href="#" class="btn nav-btn">about</a>
			<a ng-click="toTheTop()" class="btn nav-btn">Top</a>
  </div>

  </div>
  <hr>
</div>
