<div class ="container">
	<div class="row">
		<div class="left-nav text-left col-sm-5">
	    <a  ng-click="showsProjects()" class="btn nav-btn" data-toggle="dropdown" href="#">Projects </a>
			<a ui-sref="resume" class="btn nav-btn">Resume</a>
			<a href="#" class="btn nav-btn">Blog</a>
  	</div>
  		<div class="row col-sm-4">
  			<img class="logo" ng-src="jlog1.png" alt="">
			</div>
  	<div class="right-nav text-right col-sm-3">
			<a ng-click="showsContact()" href="#" class="btn nav-btn">about</a>
			<a ui-sref="home" class="btn nav-btn">Home</a>
  </div>

  </div>
  <hr>
</div>