<div class ="container">
	<div class="row">
		<div class="left-nav text-left col-sm-6">
	    <a  ng-click="showsProjects()" class="btn nav-btn" data-toggle="dropdown" href="#">Projects </a>
			<a ui-sref="resume" class="btn nav-btn">Resume</a>
			<a ng-href="https://quickanddirtyjs.wordpress.com/" class="btn nav-btn">Blog</a>
  	</div>

  	<div class="right-nav text-right pull-right col-sm-6">
			<a ng-click="showsContact()" href="#" class="btn nav-btn">about</a>
			<a ng-click="scrollTop" class="btn nav-btn">Top</a>
  </div>

  </div>
  <hr>
</div>