<!-- 
<div class="row home">

	<div  ng-show="!showProjects" class="projects-view text-center col-xs-4 ">
		<div  class="row each-project" ng-repeat="project in projects">
			<div class="col-xs-10" >
				<img ng-src={{project.img}} alt="" width="200">
			<div class="row">
				<a class="btn btn-success" ng-href={{project.github}} >Git Hub</a>
				<a class="btn btn-info" ng-href={{project.url}}>App</a>
				</div>
			</div>
		</div>
	</div>	

	<div ng-hide="showProjects" class="projects-view text-left col-xs-4 ">
		<div class="row slide-down"></div>
		<div class="triangle-isosceles"><span>TEST1</span></div><div class="triangle-isosceles2"><span>TEST2</span></div>
		<div class="row">
			<img ng-src="images/sil-talk.png" alt="">
		</div>
	</div>



	<div class="col-xs-4">
		<div class="row">
			<h1 class="title">{{title}}</h1>
			<h3 class="title">{{subtitle}}</h3>
		</div>
		<div class="row text-center centered">
			<img class="logo" ng-src="jlog1.png" alt="">
		</div>
	</div>
	
	<div class="contact-display" ng-show="!showContact">
			<contact-display />
	</div>

	<div class="col-xs-4">
		<div class="col-xs-12 email-phn pull-down">
			<h4 class="text-right">jillian.fetter@gmail.com</h4>
			<h4 class="text-right">650-773-0364</h4>
		</div>
	</div>

</div> -->









