<div class="home container">
	<div class="row">
			<div class="projects-view col-sm-4">
				<div ng-repeat="project in projects">
				</div>
		</div>
		<div class="col-sm-4">
			<h1 class="title">{{title}}</h1>
			<h3 class="title">{{subtitle}}</h3>
			<div class="row text-center centered">
				<img class="logo" src="jlog1.png" alt="">
			</div>
			<h4 class="text-right">jillian.fetter@gmail.com</h4>
			<h4 class="text-right">650-773-0364</h4>
		</div>
		<div class="col-sm-4">

		</div>

	</div> <!-- row -->	
</div>






